@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body { padding-top: 60px; }

.flow-preview {
	max-width: 100px;
}

.canvas-widget {
	display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 100;
    text-align: center;
}

.html-canvas {
	position: absolute;
    left: 158px;
    top: 79px;
    width: 222px;
    height: 259px;
    box-sizing: border-box;
}

img.canvas-widget-background {
	width: 530px;
    height: 530px;
    position: relative;
    pointer-events: none;
}

.upload-progress {
	height: 5px;
	margin-bottom: -5px;
	position: relative;
	z-index: 101;
}

.scale-slider {
	position: relative;
	margin-top: 15px;
	z-index: 102;
}

.buttons-wrap {
	padding-top: 15px;
}

.whirly-loader-wrap {
	position:absolute;
	top: 200px;
	left: 50%;
	z-index: 105;
}

.checkbox-inline .toggle {
	margin-left: 10px;
}